{% extends 'public/base.html' %}

{% block title %}Cart{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-8">
              {% for o_i in object.items.all %}
                <div class="card mb-3 shadow-sm" style="max-width: 800px;">
                    <div class="row g-0">
                      <div class="col-md-10">
                        <div class="card-body">
                            <h5 class="card-title">{{ o_i.item.title }}</h5>
                            <a href="{% url 'remove-to-cart' o_i.item.slug %}" class="btn btn-danger">-</a>
                            <span>{{ o_i.qty }}</span>
                            <a href="{% url 'add-to-cart' o_i.item.slug %}" class="btn btn-danger">+</a>
                            <br>
                            <br>
                            <h4 class="d-inline text-success">₹{{ o_i.get_total_discount_price }} /-</h4>
                            <h5 class="d-inline text-danger"> <del>{{ o_i.get_total_price }}</del> </h5>
                            <h5 class="d-inline text-success small">(₹{{ o_i.get_total_saving }})</del> </h5>
                          </div>
                      </div>
                      <div class="col-md-2">
                        <img src="{{ o_i.item.image.url }}" width="130px" height="200px" alt="">
                      </div>
                    </div>
                  </div>
                  {% endfor %}
            </div>

            <div class="col-md-4">
                <ul class="ist-group">
                    <li class="list-group-item list-group-item-action border border-success text-white bg-warning text-center">Price Detail</li>
                    <li class="list-group-item list-group-item-action">Total Amount <span class="float-end">Rs. {{ object.get_total_amount }}/-</span> </li>
                    {% if object.coupon %}
                    <li class="list-group-item list-group-item-action border border-warning">coupon Discount<span class="float-end">Rs. {{ object.coupon.amount }}/-</span></li>
                    {% endif %}
                    <li class="list-group-item list-group-item-action border border-success">Total Discount<span class="float-end">Rs. {{ object.get_total_saving_amount }}/-</span></li>
                    <li class="list-group-item list-group-item-action">Total Payable Amount<span class="float-end">Rs. {{ object.get_total_pay_amount}}/-</span></li> 
                    
                <div class="d-grid gap-2 mt-3">
                  <a href="{% url 'checkout' %}" class="btn btn-primary btn-lg" type="button">Checkout</a>
                  <a class="btn btn-success btn-lg" type="button">Buy more</a>
                  
                </div>
                {% if not object.coupon %}
                <div class="card">
                  <div class="card-body">
                    <form action="{% url 'add-coupon' %}" method='post'>
                      {% csrf_token %}
                      <div class="input-group">
                        <input type="text" name="code" class="form-control rounded-pill" placeholder="apply coupon">
                      </div>
                    </form>
                  </div>
                </div>
                {% else %}
                <span class="badge  rounded-pill bg-success">{{ object.coupon.code }}
                  <a href="{% url 'remove-coupon' %}" class="text-white">&times;</a>
                </span>
                {% endif %}

                  </ul>
            </div>
        </div>
    </div>
{% endblock %}